<footer class="bg-dark py-5 mt-auto align-content-end">  
    <!-- mt-auto: move footer to the end of the page -->
    <div class="container">
        <span class="text-white-50">YelpCamp 2024</span>
    </div>
</footer>